.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    outline: none;
    background-color: rgba(0,0,0,0);
    border: none;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 120px;
    text-align: center;
}

.BuildControl .Less {  
    color: white;
    margin-right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.BuildControl .More {
    color: white;
    margin-left: 20px;
    font-size: 30px;
    cursor: pointer;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    color: grey;
}

.BuildControl .More:hover,.BuildControl .More:active {
    color: grey;
}